@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #87CEEB;
}

canvas {
  display: block;
}
